@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --degrees: 0deg;
}

body {
  font-family: 'Roboto', sans-serif;
}

.bg-conic {
  background: conic-gradient(
    transparent 0deg,
    transparent var(--degrees),
    white var(--degrees),
    white 360deg
  );
}

.hand {
  transform-origin: bottom center;
  transform: rotate(var(--degrees));
}
